/second_repo
/exam.py
/Google_search_2.py
/test1.py
/.idea
/google_python_exercises
/Stepik
/Exercises_05.02.2023/babynames
/Exercises_05.02.2023/alice.txt
/Exercises_05.02.2023/function_open.py
/Exercises_05.02.2023/mimic.py
/Exercises_05.02.2023/small.txt
/Exercises_05.02.2023/wordcount.py